/*========ПЕРЕМЕННЫЕ========*/
:root {
	--bg-black: #000;
	--bg-white: #FFF;
	--bg--grey-light: #cfcfcf;
	--bg-grey: #4d4d4d;
	--bg-orange-light: #ff9544;
	--bg-orange-dark: #ff750c;
	--transition-duration: 0.25s
}


/*========ГЛОБАЛЬНЫЕ========*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Raleway', 'Open Sans';
	font-size: 16px;
	color: var(--bg-black);
}

.container {
	max-width: 1300px;
	margin: 0 auto;
}

.download_btn {
	font-family: 'Open Sans';
	font-size: 1rem;
	letter-spacing: 1px;
	border: 2px solid var(--bg-white);
	color: var(--bg-white);
	padding: 12px 30px;
	background-color: transparent;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 1px;
	transition: all var(--transition-duration) linear;
}

.download_btn:hover {
	background-color: var(--bg--grey-light);
	color: var(--bg-black);
	border: 2px solid var(--bg-black);
	transition: all var(--transition-duration) linear;
}

.section-title {
	font-family: 'Open Sans';
	font-size: 1.8em;
	color: var(--bg-black);
	margin-bottom: 10px;
	margin-top: 0;
	text-align: center;
}

.section-subtitle {
	font-family: 'Open Sans';
	font-size: 1.2em;
	color: var(--bg-black);
	text-align: center;
}


/*========NAVBAR========*/
.navbar {
	background-color: var(--bg-black);
	padding: 30px 0;
}

.navbar_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

.nav a {
	font-family: 'Open Sans';
	font-size: 1.1rem;
	font-weight: 700;
	letter-spacing: 2px;
	text-decoration: none;
	color: var(--bg-white);
	margin-left: 40px;
	position: relative;
	transition: all var(--transition-duration) linear;
}

.nav a:first-child {
	margin-left: 0;
}

.nav a::before {
	content: ' ';
	width: 100%;
	height: 2px;
	background-color: var(--bg-white);
	position: absolute;
	left: 0;
	bottom: -8px;
	transform: scaleX(0);
	transition: all var(--transition-duration) linear;
}

.nav a:hover::before {
	transform: scaleX(1);
	transition: all var(--transition-duration) linear;
}


/*========HEADER========*/
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--bg-grey);
}

.header_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 80px auto;
}

.header_info {
	max-width: 50%;
}

.header_title {
	font-family: 'Open Sans';
	font-size: 1.6rem;
	color: var(--bg-white);
	border-bottom: 3px solid white;
	text-transform: uppercase;
	padding: 15px 0 35px 0;
}

.header_subtitle {
	font-weight: 600;
	font-size: 1.3rem;
	letter-spacing: 1px;
	color: var(--bg-white);
	margin: 45px 0;
}

.signup {
	width: 45%;
}

.signup_form {
	width: 320px;
	font-family: 'Open Sans';
	background-color: var(--bg-white);
	border-radius: 4px;
	box-shadow: 0 0 5px;
	text-align: center;
	margin: 0 auto;
}

.form_title {
	background-color: var(--bg--grey-light);
	padding: 10px 0;
	text-align: center;
}

.form_title span {
	text-transform: uppercase;
	color: var(--bg-orange-light);
}

.signup input {
	width: 80%;
	margin: 25px 0;
	padding: 6px 4px;
	border: 0;
	border-bottom: 2px solid var(--bg-grey);
}

.signup input:focus {
	outline: none;
	border-bottom: 2px solid var(--bg-black);
}

.sign_btn {
	width: 100%;
	border: 0;
	background-color: var(--bg-orange-light);
	color: var(--bg-white);
	padding: 14px 40px;
	text-align: center;
	font-weight: 700;
	margin: 0 auto;
	cursor: pointer;
	transition: all var(--transition-duration) linear;
}

.sign_btn:hover {
	background-color: var(--bg-orange-dark);
	transition: all var(--transition-duration) linear;
}

/*========BRENDBAR========*/
.brendBar {
	font-family: 'Open Sans';
	background-color: var(--bg-white);
	box-shadow: 0 5px 10px var(--bg-grey);
}

.brendBar_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}

.brendBar_title {
	font-size: 1.3rem;
	font-weight: 700;
	margin: 0 0 5px 0;
}

.brendBar_subtitle {
	font-size: 0.9rem;
	font-weight: 400;
	margin: 0;
	color: var(--bg-black);
}

.socialMedia a {
	text-decoration: none;
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-left: 25px;
}

.socialMedia a:first-child {
	margin-left: 0;
}


/*========FEATURES========*/
.features {
	font-family: 'Open Sans';
	padding-top: 9px;
}

.feateres-tabs {
	background-color: var(--bg--grey-light);
	padding: 60px 0;
}

.feateres-tabs_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.features-switch {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 700;
}

.features-switch button {
	border: 1px solid var(--bg--grey-light);
	width: 110px;
	height: 110px;
	background-color: var(--bg-grey);
	font-size: 1.1em;
	color: var(--bg-white);
	text-transform: uppercase;
	cursor: pointer;
	transition: all var(--transition-duration) linear;
}

.features-switch button:hover {
	background-color: var(--bg-orange-dark);
	transition: all var(--transition-duration) linear;
}

.features-switch button.active {
	background-color: var(--bg-orange-dark);
}

.tab-item {
	display: none;
}
.tab-item.active {
	display: flex;
}

.features-info {
	padding: 0 50px;
}

.features-info_title {
	font-size: 1.4em;
	font-weight: 700;
	color: var(--bg-black);
	margin-bottom: 50px;
}

.features-info_subtitle {
	font-size: 1.1rem;
	color: var(--bg-black);
	opacity: 0.8;
	margin-bottom: 25px;
}

.features_btn {
	border: 0;
	border-radius: 3px;
	background-color: var(--bg-orange-light);
	color: var(--bg-white);
	padding: 12px 30px;
	cursor: pointer;
	transition: all var(--transition-duration) linear;
}

.features_btn:hover {
	background-color: var(--bg-orange-dark);
	transition: all var(--transition-duration) linear;
}

.feateres-slider_inner img {
	width: 100%;
	height: auto;
}

.feateres-card {
	background-color: var(--bg-white);
	padding: 60px 0;
}

.feateres-card + .feateres-card--right-foto {
	background-color: var(--bg--grey-light);
}

.features-card_inner {
	display: flex;
	align-items: center;
	justify-content: center;
}

.feateres-card_inner--right-foto {
	flex-direction: row-reverse;
}

.feateres-card_inner--right-foto .features-card_info {
	margin-left: 0;
	margin-right: 80px;
}

.features-card_info {
	margin-left: 80px;
}

.features-card_title {
	font-size: 1.2em;
	margin: 0 0 5px 0;
}

.features-card_subtitle {
	color: var(--bg-black);
	opacity: 0.8;
	margin: 10px 0 25px 0;
}

.features-card_foto img {
  width: 100%;
  height: auto;
}


/*========PROJECT========*/
.project {
	font-family: 'Open Sans';
	color: var(--bg-black);
	text-align: center;
	margin-bottom: 25px;
}

.project_inner {
	text-align: center;
	margin-top: 60px;
}

.project_info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 70px 0 80px 0;
}

.project_item {
	padding: 0 30px;
}

.project_item-title {
	font-size: 1.2rem;
	color: var(--bg-black);
	margin-bottom: 20px;
}

.project_item-subtitle {
	color: var(--bg-grey);
	text-align: justify;
	margin-bottom: 20px;
	line-height: 1.3;
}


/*========Pricing========*/
.pricing {
	padding: 75px 0;
	background-color: var(--bg--grey-light);
}

.pricing_inner {
	text-align: center;
}

.pricing_info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	gap: 35px;
	margin-top: 55px;
}

.pricing_item {
	width: 100%;
}

.pricing_item-title {
	text-align: center;
	color: var(--bg-white);
	font-size: 1.4rem;
	font-weight: 700;
	margin: 0;
	padding: 20px 0;
	background-color: var(--bg-grey);
	border-bottom: 2px solid var(--bg--grey-light);
}

.price {
	text-align: center;
	color: var(--bg-white);
	font-size: 2rem;
	font-weight: 700;
	margin: 0;
	padding: 0 0 10px 0;
	background-color: var(--bg-grey);
	border-bottom: 2px solid var(--bg--grey-light);
}

.price span {
	font-size: 4.5rem;
	margin: 0;
}

.pricing_item-subtitle {
	color: var(--bg--grey-light);
	font-style: italic;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	font-size: 1rem;
	padding: 15px 0;
	margin: 0;
	background-color: var(--bg-grey);
	border-bottom: 6px solid var(--bg-orange-dark);
}

.pricing_item-main {
	box-sizing: content-box;
	padding-bottom: 40px;
}

.price_subtitle-main {
	border: 0;
}

.popular {
	background-color: var(--bg-orange-dark);
	color: var(--bg-white);
	font-weight: 700;
	font-size: 0.9rem;
}

.opportunities {
	text-align: center;
	background-color: var(--bg-white);
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.opportunities li {
	font-family: 'Open Sans';
	font-size: 1.1rem;
	color: var(--bg-black);
	list-style: none;
	padding: 13px 0;
	border-bottom: 1px solid var(--bg--grey-light);
}


/*========Testimonials========*/
.testimonials {
	background-color: var(--bg-white);
	padding: 80px 0;
}

.testimonials_inner {
	text-align: center;
	padding: 0;
}

.testimonials_items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 25px;
	margin-top: 60px;
}

.testimonials_item {
	font-family: 'Open Sans';
	color: var(--bg-black);
}

.testimonials_text {
	background-color: var(--bg--grey-light);
}

.text {
	padding: 25px 15px;
	margin: 0;
	font-style: italic;
	line-height: 1.2;
}

.person {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-top: 5px;
}

.person_info {
	padding-left: 20px;
}

.person_name {
	font-weight: 800;
	font-size: 1.3em;
	margin-bottom: 0;
}

.person_post {
	color: var(--bg-black);
	opacity: 0.7;
	margin-top: 5px;
}


/*========Custom========*/
.custom {
	background-color: var(--bg-grey);
	text-align: center;
	font-family: 'Open Sans';
	color: var(--bg-white);
}

.custom_inner {
	padding: 60px 0;
}

.custom_title {
	text-transform: uppercase;
	font-size: 1.8rem;
	margin: 0 0 20px 0;
	padding: 0;
}

.custom_subtitle {
	font-size: 1.2rem;
	margin: 15px 0 30px 0;
	padding: 0;
}


/*========Contact========*/
.contact {
	font-family: 'Open Sans';
	color: var(--bg-black);
	text-align: center;
	margin-bottom: 25px;
}

.contact_inner {
	text-align: center;
	margin-top: 60px;
}

.contact_form {
	margin-top: 40px;
}

.contact_form-inner {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.contact_form input {
	width: 100%;
	margin: 25px 0;
	padding: 6px 4px;
	border: 0;
	border-bottom: 2px solid var(--bg-grey);
}

.contact_form input:focus,
.contact_massage textarea:focus {
	outline: none;
	border-bottom: 2px solid var(--bg-black);
}

.contact_info {
	flex-basis: 50%;
}

.contact_massage {
	flex-basis: 50%;
	margin-left: 70px;
}

.contact_massage textarea {
	width: 100%;
	height: 233px;
	border: 0;
	border-bottom: 2px solid var(--bg-grey);
	resize: none;
	margin: 25px 0;
}

.contact_btn {
	border: 0;
	border-radius: 3px;
	background-color: var(--bg-orange-light);
	color: var(--bg-white);
	padding: 14px 35px;
	text-align: center;
	font-size: 0.8em;
	font-weight: 700;
	margin: 25px auto;
	cursor: pointer;
	transition: all var(--transition-duration) linear;
}

.contact_btn:hover {
	background-color: var(--bg-orange-dark);
	transition: all var(--transition-duration) linear;
}


/*========Footer========*/
.footer {
	background-color: var(--bg-black);
	text-align: center;
	font-family: 'Open Sans';
	font-size: 1.3em;
	color: var(--bg-white);
}

.footer p {
	margin: 0;
	padding: 30px 0;
}


/*========Медиазапросы========*/
@media screen and (max-width: 1320px) {
	.container {
		padding: 0 30px;
	}
	.navbar_inner {
		display: block;
	}
	.nav {
		padding-top: 20px;
	}
	.signup {
		padding-left: 0;
	}
}

@media screen and (max-width: 950px) {
	.features-card_inner {
		flex-direction: column-reverse;
	}
	.features-card_info,
	.feateres-card_inner--right-foto .features-card_info {
		margin: 0;
	}
	.feateres-slider_inner {
		flex-direction: column;
	}
	.features-switch {
		flex-direction: row;
		order: 3;
	}
	.features-info {
    padding: 0 0 45px;
	}
	.features-switch button {
		width: 85px;
		height: 85px;
	}
	.testimonials_items {
		flex-direction: column;
		gap: 50px;
	}
	.pricing_info {
		flex-direction: column;
	}
	.pricing_item-main {
		padding-bottom: 0;
	}
}

@media screen and (max-width: 800px) {
	.container {
		padding: 0 20px;
	}
	.header_inner {
		flex-direction: column;
		align-items: сenter;
	}
	.header_info {
		max-width: 100%;
		margin-bottom: 40px;
	}
	.signup {
		width: 100%;
	}
	.brendBar_inner {
		flex-direction: column;
		align-items: flex-start;
	}
	.brendBar_info {
		margin-bottom: 20px;
	}
	.project_info {
		flex-direction: column;
		margin: 55px 0 35px 0;
	}
	.project_item {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 640px) {
	.contact_form-inner {
		flex-direction: column;
	}
	.contact_info {
		width: 100%;
	}
	.contact_massage {
		width: 100%;
		margin: 0;
	}
	.contact_massage textarea {
		margin: 0 auto;
	}
}
